* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
    min-height: 80vh;
}

footer {
    padding-top: 0;
}

.card-image {
    max-width: 50em;
    height: auto;
}

.about,
.home {
    text-shadow: 1px 5px 15px black;
}

#id_comment {
    border: none;
    background-color: rgba(106, 106, 106, 0.3);
}


#img_view {
    transition-duration: .3s;
}

#img_view:active {
    transform: scale(1.5);
}
