{% extends 'base.html' %}

{% block content %}
{% if object %}
<h1>Edit <span class="yellow-text text-darken-1">{{object.tag}}</span></h1>
{% else %}
<h1>Add new tag</h1>
{% endif %}

<div class="card yellow lighten-4">
    <div class="card-content">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit" class="btn green darken-2">
            <a href="{% url 'flair_index' %}" class="btn orange darken-2 black-text">Back</a>
        </form>
    </div>
</div>

{% endblock content %}