{% extends 'base.html' %}
{% block content %}
<div class="about center-align">
    <div class="row">
        <h1>FOR THOSE WHO LOVE THE VIEW</h1>
        <hr>
    </div>
    <div class="row">
        <h4>We welcome you to post your favorite photos!</h4>
    </div>
    <br>
    <div class="section row">
        <h5 class="flow-text col s6 offset-s3">
            We collect any vista you think is beautiful. 
            Your image can contain homes and buildings, or just scenery. 
            It can be a sunset/sunrise, a beach, a cityscape, mountain ranges, or anything else that holds a stunning view.
        </h5>
    </div>
</div>
{% endblock content %}