{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'vistas_collector/css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Vistas Collector</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper green darken-4">
                <div class="container">
                    <a href="/" class="left brand-logo"><i class="large material-icons left">panorama</i>Vista Collector</a>
                    <a href="#!" data-target="nav_links" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        {% if user.is_authenticated %}
                        <li><a href="/vistas">ALL VISTAS</a></li>
                        <li><a href="{% url 'user_index' %}">MY VISTAS</a></li>
                        <li><a href="/flairs">EXPLORE TAGS</a></li>
                        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                        <li>{{user}}</li>
                        {% else %}
                        <li><a href="{% url 'login' %}">LOGIN</a></li>
                        <li><a href="{% url 'signup' %}">SIGN UP!</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <ul class="sidenav" id="nav_links">
            {% if user.is_authenticated %}
            <li><a href="/vistas">ALL VISTAS</a></li>
            <li><a href="{% url 'user_index' %}">MY VISTAS</a></li>
            <li><a href="/flairs">EXPLORE TAGS</a></li>
            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            <li>{{user}}</li>
            {% else %}
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'signup' %}">SIGN UP!</a></li>
            {% endif %}
        </ul>
    </header>
    <div class="container white-text">
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>
    <footer class="green darken-4">    
        <div class="container">
            <div class="row white-text">
                <a class="left white-text" href="/about"><span> ABOUT </span></a>
                <span class="right">&copy; 2022 Vista Collector</span>
            </div>
        </div>
    </footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        let elems = document.querySelectorAll('.sidenav');
        let instances = M.Sidenav.init(elems, options);
    });
</script>
</html>