
{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="card" style="{{ "background-color: rgba(0,0,0,.5); border-radius: 20px;" }}">
        <div class="card-content">
            {% comment %} TITLE AND IMAGE {% endcomment %}
            <h1 class="green-text center">{{vista.name}} </h1>
            <div class="row center">
                <img onclick="enlarge()" id="img_view" src="{{vista.img}}" alt="{{vista.name}}" class="card-image responsive-img">
            </div>
            {% comment %} DISPLAY TAGS {% endcomment %}
            <div class="row">
                <div class="col offset-s1 chip green darken-2 white-text">TAGS: </div>
                {% for tag in vista.tags.all %}
                <div class="col">
                    <a href="{% url 'unassign_flair' vista.id tag.id %}">
                        {% if user.id == tag.user.id %}
                        <div class="chip yellow lighten-2">
                        {% else %}
                        <div class="chip yellow lighten-4">
                        {% endif %}
                            {{tag}}
                            <i class="close material-icons">close</i> 
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% comment %} DISPLAY DETAILS {% endcomment %}
            <div class="row white-text">
                <div class="col s11 offset-s1">
                    <h3>{{vista.description}}</h3>
                    <h5><strong> When: </strong> {{vista.season_display}} of {{vista.year}}</h5>
                    <h5><strong> Location: </strong>{{vista.location}}, {{vista.state_province}}, {{vista.country}}</h5>
                </div>
            </div>
            {% comment %} UPDATE/REMOVE BUTTONS {% endcomment %}
            <div class="card-action">
                {% if user.id == vista.user.id %}
                <a href="{% url 'vista_update' vista.id %}" class=" btn green darken-2">UPDATE</a>
                <a href="{% url 'vista_delete' vista.id %}" class=" btn orange darken-4">REMOVE</a>
                {% endif %}
            </div> 
        </div>
    </div>
</div>
{% comment %} LISTS UNASSIGNED TAGS {% endcomment %}
<div class="row">
    <div class="card" style="{{ "background-color: rgba(0,0,0,.5); border-radius: 20px;" }}">
        <div class="card-content">
            <h4>Available Tags:</h4>
            <div class="row">
                {% if unassociated_tags.count %}
                {% for tag in unassociated_tags.all %}
                <div class="col">
                    <a href="{% url 'assign_flair' vista.id tag.id %}">
                        {% if user.id == tag.user.id %}
                        <div class="chip yellow lighten-2">
                        {% else %}
                        <div class="chip yellow lighten-4">
                        {% endif %}
                            {{tag.tag}}
                            <i class="close material-icons">add</i>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <h4>No additional tags...</h4>
                {% endif %}
            </div>
        </div>
        {% comment %} CREATE NEW TAG {% endcomment %}
        <div class="card-action">
            <form class="row" action="{% url 'add_flair' vista.id user.id %}" method="post">
                <div class="col s12 m6">
                    <h5> Make a new tag! </h5>
                </div>
                <div class="col s12 m4">
                    {% csrf_token %} {{ flair_form.as_p }}
                </div>
                <div class="col s12 m2">
                    <br>
                    <input class="btn green darken-2" type="submit" value="Add Tag">
                </div>
            </form>
        </div>
    </div>
</div>
{% comment %} ADDITIONAL IMAGES {% endcomment %}
<div class="section">
    <div class="row">
        <h4 class="center">Other Images</h4>
        {% for photo in vista.photo_set.all %}
        <div class="col">
            <img src="{{photo.url}}" alt="{{vista.name}}" class="responsive-img">
        </div>
        {%empty%}
        <div class="col">No extra photos to display...</div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="card" style="{{ "background-color: rgba(0,0,0,.5); border-radius: 20px;" }}">
            <div class="card-content">
                {% comment %} make sure to add the enctype within the form tag. {% endcomment %}
                <form 
                action="{% url 'add_photo' vista.id %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <input type="file" name="photo-file" id="photo_upload">
                <br><br>
                <input type="submit" value="Upload Photo" class="btn green darken-2">
            </form>
        </div>
    </div>
    </div>
</div>
{% comment %} COMMENTS SECTION {% endcomment %}
<div class="section container">
    <form action="{% url 'add_comment' vista.id user.id %}" method="post" class="row">
        <fieldset style="{{ "border-radius: 1em; border: 1px solid grey; padding-bottom: 2em;" }}">
            <legend style="{{ "margin: 0 1em; padding: 0 1em; font-size: 2em;" }}">
                Add comment
            </legend>
            {% comment %} ADD NEW COMMENT {% endcomment %}
            <div class="col s12 m10">
                {% csrf_token %}
                {{ comment_form.as_p }}
            </div>
            <div class="col s12 m2">
                <br><br>
                <input type="submit" value="Add" class="btn green darken-2">
            </div>
        </fieldset>
    </form>
    {% comment %} ALL COMMENTS VIEW {% endcomment %}
    <div class="row">
        <table class="striped">
            <thead>
                <tr>
                    <th class="center">COMMENTS</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in vista.comment_set.all %}
                <tr class="row">
                    <td>
                        {% if user.id == comment.user.id %}
                        <a class="white-text col s1" href="{% url 'remove_comment' vista.id comment.id %}">
                            <i class="small material-icons">close</i>
                        </a>
                        {% endif %}
                    </td>
                    <td class="col s4 m2">{{comment.user}}:</td>
                    <td class="col s7 m4">
                        {{comment.date}}
                    </td>
                    <td class="col s12 m12">{{comment.comment}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% comment %} JAVASCRIPT TO EDIT FORM CLASSES {% endcomment %}
<script>
    let commentEl = document.getElementById("id_comment")
    commentEl.classList.add("white-text")
    commentEl.classList.add("input-field")
    document.getElementById("id_tag").classList.add("white-text")
</script>
{% endblock content %}